{{define "editor"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
     <script src="{{.BasePath}}/ace.min.js"></script>
     <div id="editor" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;"></div>
     {{template "footer" .}}
     <script>
       ace.config.set("basePath", {{.BasePath}});
       var editor = ace.edit("editor");
       editor.setTheme({{.Theme}});
       editor.session.setMode({{.Mode}});
       editor.setValue({{.Data}})
       editor.commands.addCommand({
          name: 'save',
          bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
          exec: async editor => {
              fetch({{.SaveURL}}, {
                  method: 'POST',
                  cache: 'no-cache',
                  body:  editor.getValue(),
              }).then(async res => {
                  if (res.status >= 200 && res.status < 300){
                      alert("Saved")
                  }else{
                      alert("Error "+ await res.text())
                  }
              })
          },
          readOnly: true
      });
     </script>
  </body>
</html>
{{end}}