{{define "sort_up_selected"}}
  <a href={{.}}><i class="bi bi-caret-up-fill"></i></a>
{{end}}

{{define "sort_up"}}
  <a href={{.}}><i class="bi bi-caret-up"></i></a>
{{end}}

{{define "sort_down_selected"}}
  <a href={{.}}><i class="bi bi-caret-down-fill"></i></a>
{{end}}

{{define "sort_down"}}
  <a href={{.}}><i class="bi bi-caret-down"></i></a>
{{end}}


{{define "files"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <div class="container">
      {{template "navbar" .}}
      {{template "upload" .}}
    <table class="table">
      {{template "files_head" .}}
      <tbody>
        {{$Path:=.URL}}
        {{range .Files}}
          <tr >
            <th>
              <a href="{{$Path}}/{{.Name}}">{{.Name}}</a>
            </th>
            <td class="text-right">{{.Size}}</td>
            <td class="text-right">{{.Created}}</td>
            <td class="text-right">
              <button class="btn btn-warning remover" data-key={{.Name}} ><i class="bi bi-trash" data-key={{.Name}}></i></button>
            </td>
          </tr>
        {{end}}
        </tbody>
    </table>
    {{template "footer" .}}
    </div>
    {{template "scripts" .}}
    {{template "script_remover" .}}
  </body>
</html>
{{end}}


{{define "files_head"}}
  <form>
    <thead>
      <tr>
        <th>
          <input type="text" name="filename" value="{{.Filename}}" />
        </th>
        <th>
          Size
            {{if eq .Sort "!size"}}
              {{template "sort_up_selected" "" }}
            {{else}}
              {{template "sort_up" "?sort=!size" }}
            {{end}}
            {{if eq .Sort "size"}}
              {{template "sort_down_selected" "" }}
            {{else}}
              {{template "sort_down" "?sort=size" }}
            {{end}}
        </th>
        <td></td>
      </tr>
    </thead>
  </form>
{{end}}



{{define "upload"}}
<form method="post" enctype="multipart/form-data">
   <div class="mb-3">
     <div class="input-group mb-3">
       <span class="input-group-text">
         <i class="bi bi-folder2-open"></i></span>
       <input class="form-control" name="file" type="file"/>
       <button type="submit" class="btn btn-outline-primary">
         <i class="bi bi-cloud-upload"></i></button>
     </div>
   </div>
</form>
{{end}}