{{define "footer"}}
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">(c) 2021 Simple CMS</small>
        </div>
      </div>
    </div>
  </footer>
{{end}}