{{define "editor"}}
     <script src="{{.BasePath}}ace.min.js"></script>
     <div id="editor" style="position: absolute; top: 56px; right: 0; bottom: 0; left: 0;"></div>
     <script>
       ace.config.set("basePath", {{.BasePath}});
       var editor = ace.edit("editor");
       editor.setTheme({{.Theme}});
       editor.session.setMode({{.Mode}});
       editor.setValue({{.Data}})
       editor.commands.addCommand({
          name: 'save',
          bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
          exec: function(editor) {
              fetch({{.SaveURL}}, {
                  method: 'POST',
                  cache: 'no-cache',
                  body:  editor.getValue(),
              }).then(r=>r.text())
          },
          readOnly: true
      });
     </script>
{{end}}