{{define "nav_wheels"}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"> Колеса </a>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="/wheels/">Все</a>
        </li>
        <li><hr class="dropdown-divider"/></li>
        <li><a class="dropdown-item" href="/wheels/?tag=track">Грузовые покрышки</a></li>
        <li><a class="dropdown-item" href="/wheels/?tag=disk">Грузовые диски</a></li>
        <li><a class="dropdown-item" href="/wheels/?tag=mtrack">Легко грузовые покрышки</a></li>
      </ul>
    </li>
{{end}}

{{define "nav_oil"}}
  <li class="nav-item">
    <a class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">Масла</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/oil/">Все</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/oil/?tag=motor">Моторные</a></li>
      <li><a class="dropdown-item" href="/oil/?tag=gear">Трансмиссионные</a></li>
    </ul>
  </li>
{{end}}


{{define "navbar"}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{.Title}}</a>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{template "nav_wheels"}}
            <li class="nav-item">
              <a class="nav-link" href="/oil/">Моторное масло</a>
            </li>

        </ul>
        <form class="d-flex" method="GET" >
          <input name="q"
                 class="form-control me-2"
                 type="search"
                 aria-label="Search">
          <button class="btn btn-outline-success"
                  type="submit">Найти</button>
        </form>
      </div>
    </div>
  </nav>
{{end}}

